In [3]:
x=10
y=3.4
name="naincy"
city="lucknow"
fruits=["apple","orange","mango"]

In [4]:
x=10
y=3

In [5]:
x+y

13

In [6]:
x*y

30

In [7]:
x/y

3.3333333333333335

In [8]:
x//y

3

In [9]:
x**y

1000

In [10]:
a=10

In [11]:
a+=5

In [12]:
10>5 and 5>3

True

In [13]:
2>100 or 5<10

True

In [14]:
not 10 >5

False

In [15]:
name="william shakespear"
"pear" in name

True

In [1]:
def greet():
    print("Hello")
    print("Good Morning")
greet()

Hello
Good Morning

In [2]:
greet()

Hello
Good Morning

In [13]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
result1,result2=add_sub(5,4)
print(result1,result2)

9 1

In [14]:
l= lambda a: a*a
r=l(5)
print(r)

25

In [15]:
l=lambda a,b:a+b
r = l(7,3)
print(r)

10

In [11]:
from array import*
vals= array('i',[3,5,7,8,9])
print(vals)
newarr=array(vals.typecode,(a*a for a in vals))
print(newarr)

array('i', [3, 5, 7, 8, 9])
array('i', [9, 25, 49, 64, 81])

In [13]:
from array import*
arr=array('i',[])
n= int(input("Enter the length of the array"))
for i in range(n):
    x=int(input("Enter the next value"))
    arr.append(x)
print(arr)

array('i', [45, 34, 76, 87])

In [15]:
val=int(input("Enter the value for search"))
k=0
for e in arr:
    if e == val:
        print(k)
        break
    k+=1

2

In [20]:
from array import*
arr1=array('i',[])
n= int(input("Enter the length of array"))
for i in range(n):
    x=int(input("Enter the next value"))
    arr1.append(x)
print(arr1)

array('i', [11, 12, 13, 14, 15])

In [24]:
num=int(input("Enter the value to check"))
for e in arr1:
    if num in arr1:
        print(num)
        break

14

In [23]:
print(arr1.index(num))

1

In [1]:
d={0:'1',1:'2'}
for i in d:
    print(i)

0
1