In [23]:
raju={
    'first name': 'Rajesh',
    'last name': 'Kumar',
    'age': 25,
    'address': {
        'house no':'123',
        'street' : 'MG Road',
        'city': 'Bangalore',
        'state': 'Karnataka',
    }
}
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 25, 'address': {'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka'}}

In [24]:
print(raju['first name'])
print(raju['last name'])
print(raju['age'])
print(raju['address'])
print(raju['address']['city'])

Rajesh
Kumar
25
{'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka'}
Bangalore

In [25]:
print(raju.get('first name'))
print(raju.get('middle name'))
print(raju.get('middle name','not found')) # default value "not found" optional

Rajesh
None
not found

In [26]:
# update value of a key
raju['age']=24
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 24, 'address': {'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka'}}

In [27]:
# adding an entry
raju['middle name']='Arun'
raju['address']['country']='India'
raju['phone']='1234567'
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 24, 'address': {'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}, 'middle name': 'Arun', 'phone': '1234567'}

In [28]:
# remove an entry
raju.pop('middle name')

'Arun'

In [29]:
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 24, 'address': {'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}, 'phone': '1234567'}

In [30]:
# raju.clear()

In [31]:
# list all keys
print(raju.keys())
# list all values
print(raju.values()) 
# list all key values items
print(raju.items())

dict_keys(['first name', 'last name', 'age', 'address', 'phone'])
dict_values(['Rajesh', 'Kumar', 24, {'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}, '1234567'])
dict_items([('first name', 'Rajesh'), ('last name', 'Kumar'), ('age', 24), ('address', {'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}), ('phone', '1234567')])

In [32]:
for key in raju:
    print(raju[key])

Rajesh
Kumar
24
{'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}
1234567

In [33]:
for k,v in raju.items():
    print(k,v)

first name Rajesh
last name Kumar
age 24
address {'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}
phone 1234567

In [34]:
for v in raju.values():
    print(v)

Rajesh
Kumar
24
{'house no': '123', 'street': 'MG Road', 'city': 'Bangalore', 'state': 'Karnataka', 'country': 'India'}
1234567

In [35]:
raju['address'].pop('country')

'India'

In [39]:
# create a dictionary of 5 employees of accounts department in ACME company
acme={
    'accounts':{}}

for i in range(5):
    name=input("Enter name: ")
    desig=input("Enter designation:")
    sal=int(input("Enter salary:"))
    acme['accounts'][f'emp{i}']={
        'name': name,
        'designation': desig,
        'salary':sal
    }

In [40]:
from pprint import pp
pp(acme)

{'accounts': {'emp0': {'name': 'naincy',
                       'designation': 'manager',
                       'salary': 50000},
              'emp1': {'name': 'molly',
                       'designation': 'assistant manager',
                       'salary': 30000},
              'emp2': {'name': 'little',
                       'designation': 'engineer',
                       'salary': 70000},
              'emp3': {'name': 'raju', 'designation': 'clerk', 'salary': 20000},
              'emp4': {'name': 'laxmi',
                       'designation': 'registrar',
                       'salary': 35000}}}

In [41]:
# calculate total salary of all the employess
tsal=0
for emp in acme['accounts']:
    tsal+=acme['accounts'][emp]['salary']
print(tsal)

205000

In [42]:
# create a contact dictionary and 
# let user check if a contact exists
# if yes, print the contact details
# if no, ask user to add the contact

contacts= {'Police': 112}
while True:
    contact_name = input("Enter contact name:")
    if contact_name in contacts:
        print("found contact")
        print('name',contact_name)
        print('number',contacts[contact_name])
    elif contact_name=='exit':
        break
    else:
        print('contact not found')
        print('add contact')
        contact_number=input("Enter contact number")
        contacts[contact_name]=contact_number
        print('contact added')

found contact
name Police
number 112
contact not found
add contact
contact added
contact not found
add contact
contact added
found contact
name ravi
number 123