In [3]:
name=input("Enter your name:")
city=input("Enter your city:")

In [4]:
age=input("Enter your age:")

In [5]:
x=int(input("Enter a number"))
y=int(input("Enter a number"))
x+y

5

In [7]:
p=int(input("Enter principle amount"))
r=int(input("Enter rate"))
t=int(input("Enter number of years"))
si=(p*r*t)/100
print(si)

400.0

In [4]:
from array import*
arr=int(array('i',[]))
n=int(input("Enter the length of the array"))
for i in range(n):
    x=int(input("Enter the next number"))
    arr.append(x)
print(arr)

array('i', [11, 12, 13, 14])

In [6]:
from array import*
arr=array('i',[])
n=int(input("Enter the length of the array"))
for i in range(n):
    x=int(input("Enter the next number"))
    arr.append(x)
print(arr)
val=int(input("Enter the value to be searched"))
for e in arr :
    if val in arr:
     break
print(arr.index(val))

array('i', [11, 12, 13, 14])
2

In [12]:
class computer():
    def config():
        print("i5,16gb,1tb")  
com=computer()
com.config()

TypeError: computer.config() takes 0 positional arguments but 1 was given

In [3]:
x=input("Enter your name")
y=input("enter your city")
print(x)
print(y)

Naincy
Lucknow

In [5]:
print('hi', end=',')
print('there')

hi,there

In [6]:
x=200
y=500
print(f'adding {x} with {y} will give {x+y}')

adding 200 with 500 will give 700

In [11]:
a=10
b=3
print(f" {a}/{b} = {a/b : .2f} ")

 10/3 =  3.33

In [22]:
name = "Naincy"
age= 23
city= "Lucknow"
address= "E-4485 Rajajipuram"
print(f'{"name":10}{name}')
print(f'{"age":10}{age}')
print(f'{"city":10}{city}')
print(f'{"address":10}{address}')

name      Naincy
age       23
city      Lucknow
address   E-4485 Rajajipuram

In [23]:
name = "Naincy"
age= 23
city= "Lucknow"
address= "E-4485 Rajajipuram"
print(f'{"name":10}{name:>35}')
print(f'{"age":10}{age:>35}')
print(f'{"city":10}{city:>35}')
print(f'{"address":10}{address:>35}')

name                                   Naincy
age                                        23
city                                  Lucknow
address                    E-4485 Rajajipuram

In [24]:
name = "Naincy"
age= 23
city= "Lucknow"
address= "E-4485 Rajajipuram"
print(f'{"name":10}{name:^35}')
print(f'{"age":10}{age:^35}')
print(f'{"city":10}{city:^35}')
print(f'{"address":10}{address:^35}')

name                    Naincy
age                       23
city                    Lucknow
address           E-4485 Rajajipuram

In [25]:
import math


b=int(input("Enter the base value"))
p=int(input("Enter the perpendicular value"))
h=math.sqrt((b*b)+(p*p))
print(h)

18.027756377319946