In [19]:
movies=[
    'hungama',
    'dhoom',
    'honey bunny',
    'farzi',
    'raazi',
    'aspirants',
    'sandeep bhaiya',
    'the devil wears prada',
    'karma',
    'hera pheri']
print(len(movies))

10

In [8]:
for title in movies:
    print (f'{title:30} {len(title)}')

hungama                        7
dhoom                          5
honey bunny                    11
farzi                          5
raazi                          5
aspirants                      9
sandeep bhaiya                 14
gravitus                       8
karma                          5
hera pheri                     10

In [20]:
for title in movies:
    if 'd' in title:
        print(title)

dhoom
sandeep bhaiya
the devil wears prada

In [28]:
# nested loops
books=[
    ['OLiver Twist','Charles Dickens',8],
['Emma','Jane Austen',9],
['Hamlet','William Shakespeare',7],
['Amadeus','Petter Shaffer',8],
['Volpone','Ben Jonson',9],
['Staying On','Paul Scott',6],
['Arms and the Man','Bernard Show',8],
['Tom Jones','Henry Fielding',9],
['Indulekha','chandu Menon',8],
['Indu','Menon',8]
]

print(len(books))

10

In [30]:
for book in books:
    for field in book:
        print(field)
    print()

OLiver Twist
Charles Dickens
8

Emma
Jane Austen
9

Hamlet
William Shakespeare
7

Amadeus
Petter Shaffer
8

Volpone
Ben Jonson
9

Staying On
Paul Scott
6

Arms and the Man
Bernard Show
8

Tom Jones
Henry Fielding
9

Indulekha
chandu Menon
8

Indu
Menon
8

In [33]:
for book in books:
    print(f'tiltle: {book[0]}')
    print(f'author: {book[1]}')
    print(f'rating: {book[2]}')
    print()

tiltle: OLiver Twist
author: Charles Dickens
rating: 8

tiltle: Emma
author: Jane Austen
rating: 9

tiltle: Hamlet
author: William Shakespeare
rating: 7

tiltle: Amadeus
author: Petter Shaffer
rating: 8

tiltle: Volpone
author: Ben Jonson
rating: 9

tiltle: Staying On
author: Paul Scott
rating: 6

tiltle: Arms and the Man
author: Bernard Show
rating: 8

tiltle: Tom Jones
author: Henry Fielding
rating: 9

tiltle: Indulekha
author: chandu Menon
rating: 8

tiltle: Indu
author: Menon
rating: 8

In [2]:
grocery=['bread','milk','butter','cheese']
prices=[20,60,100,260]
qtys=[2,1,2,2]

for g,p,q in zip(grocery,prices,qtys):
    print(f'{g:10}{p:5}{q:5}{p*q:5}')

bread        20    2   40
milk         60    1   60
butter      100    2  200
cheese      260    2  520

In [6]:
# prime number
num=12
for i in range(2,num):
    if num%i==0:
        print(f'{num} => not a prime')
        break;
else:
    print(f'{num} => prime')

12 => not a prime

In [7]:
names=['Naincy','Molly','Little','Kshitiz']
print(names)

['Naincy', 'Molly', 'Little', 'Kshitiz']

In [8]:
for name in names:
    print(name)

Naincy
Molly
Little
Kshitiz

In [10]:
for name in enumerate(names):
    print(name)

(0, 'Naincy')
(1, 'Molly')
(2, 'Little')
(3, 'Kshitiz')

In [11]:
for id,name in enumerate(names):
    print(id,name)

0 Naincy
1 Molly
2 Little
3 Kshitiz

In [12]:
num=123456
rev=0
while num>0:
    lastdig=num%10
    rev=rev*10+lastdig
    num=num//10
print(rev)

654321

In [15]:
username="Naincy"
password="naincy123"
while True:
    u=input("username")
    p=input("password")
    if u==username and p==password:
        print("logged in")
        break
    else:
        print("invalid username or password")
        continue

invalid username or password
logged in

In [ ]:
#