In [1]:
# wap to print numbers from 1 to 10 using a for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
# wap to primt a multiplication table of a given number using while loop
n=int(input("Enter a number"))
r=1
while r<=10:
    print(f'{n}*{r}={n*r}')
    r+=1

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [26]:
# wap to print sum of all even numbers between 1 to 100 using a for loop
s=0
even=101
for i in range(even):
    if i%2==0:
        s=s+i
        print(s)

0
2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450
2550

In [46]:
# check if a given number is a prime or not using a while loop 
n=int(input("Enter a number"))
i=1
while i<=n:
    if n%i==0:
        print(f'{n} is a prime number')
        i+=1
        break
else:
    print(f'{n} is not a prime number')

13 is a prime number

In [3]:
#factorial of a number using a for loop
n=int(input("Enter a number"))
f=1
for i in range(1,n+1):
    f=f*i
print(f)

24

In [1]:
# fibbonacci series using while loop 
n = int(input())
a = 0
b = 1
sum = a + b
count = 1
print("Fibonacci series is: ", end=" ")
while (count <= n):
	count += 1
	print(a, end=" ")
	a = b
	b = sum
	sum = a + b

Fibonacci series is:  0 1 1

In [1]:
# functions
def greet():
    print("hello")
    print("good morning")
greet()

hello
good morning

In [3]:
def add(x,y):
    c=x+y
    print(c)
add(5,4)
greet()

9
hello
good morning

In [7]:
def add(x,y):
    c=x+y
    return c
result= add(4,5)
print(result)

9

In [9]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
result1,result2=add_sub(5,4)
print(result1,result2)

9 1

In [14]:
#position arguments
def person(name,age):
    print(name)
    print(age)

person(age=23,name="Naincy")

Naincy
23

In [17]:
#default arguments
def person(name,age=18):
    print(name)
    print(age)
person('Naincy',23)   #if value of age is passed it will overwrite default vlaue

Naincy
23

In [1]:
# #Variable length argument
# def calc_sum(a,*b):  #a=5 and using (*) will assign b with 6,34,78
    

# sum(5,6,34,78)  # a is now int and b will be tuple b=(6,34,78)

TypeError: sum() takes 1 positional argument but 4 were given

In [4]:
def calc_sum(a,*b):     # its not necessary to pass a as using * will assign all the values to b with*
    print(a)
    print(b)  
    c=a
    for i in b:
        c=c+i
    print(c)
calc_sum(5,6,34,78)

5
(6, 34, 78)
123

In [8]:
# variable length arguments
def sum(a, *b):     # its not necessary to pass a as using * will assign all the values to b with*
    print(b)  
    c=a
    for i in b:
        c+=i
    print(c)
sum(5,1,1,1)

(1, 1, 1)
8

In [35]:
#  **kwargs  key word variable length argument
def person(name,**data):   # using ** means passing multiple arguments with the help of keywords
    print(name)
    print(data)
person('Naincy', age=28, city='Lucknow', phno=7991437)

Naincy
{'age': 28, 'city': 'Lucknow', 'phno': 7991437}

In [37]:
def person(name,**data):   # using ** means passing multiple arguments with the help of keywords
    print(name)
    for i,j in data.items():
        print(i,j)
person('Naincy', age=28, city='Lucknow', phno=7991437)

Naincy
age 28
city Lucknow
phno 7991437

In [40]:
# pass list to a function
def count(list):
    e=0
    od=0
    for i in list:
        if i%2==0:
            e+=1
        else:
            od+=1
    return e, od
list= [20,25,14,19,16,24,28,47,26]
e,od=count(list)
print("Even: {} and Odd : {}" .format(e,od) )

Even: 6 and Odd : 3

In [10]:
# find largest element using a for loop
import array as arr 
ar = arr.array('i',[13,15,12,11,14])
max= ar[0]
for i in range(0,len(ar)):
    if ar[i]>max:
        max=ar[i]
        print(max)

15

In [3]:
# reverse a string using a while loop 
str='my name is naincy'
i= -1
while i>-len(str):
    print(str[i], end="")
    i-=1

ycnian si eman y