In [1]:
count=0
while count<9:
    print("Number:", count)
    count+=1
print("Good Bye")

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Good Bye

In [5]:
s="Simplilearn"
for i in s:
    print(i)

S
i
m
p
l
i
l
e
a
r
n

In [7]:
s="Simplilearn"
for i in s:
    print(i,end="")

Simplilearn

In [8]:
#use for loop in a list
programming=["Java","Python","Ruby","Html"]
for itr in programming:
    print(itr)

Java
Python
Ruby
Html

In [9]:
# average of a list of numbers
lst=[20,25,10,50,45]
c=0
sum=0
for i in lst:
    c+=1
    sum=sum+i
    avg=sum/c
print("Sum of numbers:",sum)
print("Average of numbers:",avg)

Sum of numners: 150
Average of numbers: 30.0

In [13]:
#for loop using a tuple
n=(30,45,60,50,70)
s=0
for i in n:
    s=s+i
    print(s) #print sum at every iteration
print("sum of tuple:", s)

30
75
135
185
255
sum of tuple: 255

In [14]:
# range function
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
#steps in range function 
for i in range(0,11,2):
    print("Display values with step size of two",i)

Display values with step size of two 0
Display values with step size of two 2
Display values with step size of two 4
Display values with step size of two 6
Display values with step size of two 8
Display values with step size of two 10

In [24]:
#print table of a given number
n=int(input("Enter a number for table"))
for i in range(1,11):
    t=n*i
    print(f'{n} * {i}  = {t}')

2 * 1  = 2
2 * 2  = 4
2 * 3  = 6
2 * 4  = 8
2 * 5  = 10
2 * 6  = 12
2 * 7  = 14
2 * 8  = 16
2 * 9  = 18
2 * 10  = 20

In [25]:
lst2=['C++','Java','Python','R']
for i in range(len(lst2)):
    print("Hello",lst2[i])

Hello C++
Hello Java
Hello Python
Hello R

In [27]:
#nested for loop 
comp_names=['Google','Apple','PWC','Uber']
for i in comp_names:
    print("We will display each letter of "+i)
    for letter in i:
        print(letter)

We will display each letter of Google
G
o
o
g
l
e
We will display each letter of Apple
A
p
p
l
e
We will display each letter of PWC
P
W
C
We will display each letter of Uber
U
b
e
r

In [29]:
#for loop with else 
for i in range (0,10,3):
    print(i) 
else:
    print("The loop has completed execution")

0
3
6
9
The loop has completed execution

In [30]:
#break
for i in range(1,10):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [31]:
#continue
for i in range(1,10):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9

In [33]:
# display total goals scored by a player
ply_nm="Messy"
goals={'Edison': 14, 'Bernet':3 , 'Carmelo':7}
for ply in goals:
    if ply == ply_nm:
        print(goals[ply])
        break
else:
    print("No player with that name found")

No player with that name found

In [ ]:
 #cube of numbers using for loop