# TUPLE

In [1]:
x=(1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
y=1,2,3,4,5
print(y)
print(type(y))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
z=tuple([6,7,8,9,10])
zs=tuple('hello')
print(z)
print(zs)

(6, 7, 8, 9, 10)
('h', 'e', 'l', 'l', 'o')

# tuple function

In [4]:
# tuple functions
x=(12,12,312,312,5,25,553,433,4)
print(x.count(12))
print(x.index(312))

2
2

In [6]:
t=tuple([])
print(t)
print(type(t))

()
<class 'tuple'>

In [11]:
st=tuple([1,])
print(st)
print(type(st))

(1,)
<class 'tuple'>

In [12]:
y

(1, 2, 3, 4, 5)

In [13]:
a=y
print(a)

(1, 2, 3, 4, 5)

In [14]:
a,b,c,d,e=y # tuple unpacking
print(a,b,c,d,e)

1 2 3 4 5

In [ ]:
# a,b=y # too many values to unpack(expected 2 values)
#a,b,c,d,e,f,g=y # not enough values to unpack(expected 7 got 5 got )

In [15]:
a,b, *c=y # tuple unpacking
print(a,b,c) 
a, *b=y 
print(a,b)
a, *b ,c=y
print(a,b,c) 
*a, b=y 
print(a,b)

1 2 [3, 4, 5]
1 [2, 3, 4, 5]
1 [2, 3, 4] 5
[1, 2, 3, 4] 5

# SET

In [17]:
x={2,4,3,5,1,7,8,6}
print(x)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
fruits={'apple','orange','banana','kiwi','orange','apple'}
print(fruits)

{'orange', 'kiwi', 'banana', 'apple'}
{'orange', 'kiwi', 'banana', 'apple'}

In [20]:
fruits.add('grapes')
print(fruits)
fruits.add('apple')
print(fruits)

{'banana', 'apple', 'orange', 'grapes', 'kiwi'}
{'banana', 'apple', 'orange', 'grapes', 'kiwi'}

In [21]:
fruits.discard('apple')
print(fruits)
fruits.discard("custard apple")
print(fruits)
#fruits.remove("custard apple")# will give error what to remove when custard apple is not mentioned

{'banana', 'orange', 'grapes', 'kiwi'}
{'banana', 'orange', 'grapes', 'kiwi'}

In [22]:
a={1,2,3,4,5,6,7,8,9,0}
b={1,2,3,4,5}
c={6,5,4,7,3,8,9,10}
d={1,3,4,6,10,8}
e={11,12,13,14,15}

In [23]:
print(b | c) #union
print(b.union(c))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
print(b&c) #interesction
print(b.intersection(c))

{3, 4, 5}
{3, 4, 5}

In [26]:
print(c-b) #differcnce give unique values of c
print(b.difference(c)) # give unique values of b

{6, 7, 8, 9, 10}
{1, 2}

In [27]:
# symmetric difference is opposite of intersection
print(b ^ c) 
print(b.symmetric_difference(c))

{1, 2, 6, 7, 8, 9, 10}
{1, 2, 6, 7, 8, 9, 10}

In [29]:
print(a.issuperset(b))
print(b.issubset(a))
print(b.isdisjoint(c))
print(b.isdisjoint(e))

True
True
False
True